:root {
  --workflow-editor-width: 580px;

}

elsa-flowchart-editor {
  top: 54px;
}

elsa-panel.panel-state-expanded.elsa-workflow-editor-container {
  width: var(--workflow-editor-width);
  right: 0;
  left: unset;
}
